@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/BG.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 1007px;
}

/* Custom animation for smooth scrolling and instant wrap-around effect */
@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -50%
    ); /* Move by 50% of the width to make a seamless loop */
  }
}

/* Apply the infinite scroll animation with smooth movement */
.animate-scroll {
  display: flex;
  animation: scroll-infinite 8s linear infinite; /* Infinite scroll with smooth speed */
}

/* Wrapper for the items to be scrolled */
.animate-scroll-repeat {
  display: flex;
}

/* Add width to prevent the blank space issue */
.animate-scroll-repeat {
  width: max-content;
}

/* Optional: Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Keyframes for rotation */
@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg); /* Starting position */
  }
  to {
    transform: rotate(360deg); /* Full rotation */
  }
}

/* Apply the rotating-fan animation globally */
.rotating-fan {
  animation: rotate-clockwise 7s linear infinite; /* Apply rotation animation */
}

/* Optionally adjust scroll speed dynamically */
@media (max-width: 640px) {
  .animate-scroll {
    animation-duration: 40s; /* Adjust speed for smaller screens */
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  height: 17px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 30%, var(--_g) 50% 30%, var(--_g) 100% 30%;
  background-size: 5px 8px;
  animation: l3 1.5s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@keyframes animateBorderRadius {
  0% {
    border-radius: 5px;
    background-color: #e3e4e5;
    border-color: transparent;
  }
  33% {
    border-radius: 50%;
    background-color: #12bdf3;
    border-color: #12bdf3;
  }
  66% {
    border-radius: 5px;
    background-color: #12bdf3;
    border-color: #12bdf3;
  }
  100% {
    border-radius: 5px;
    background-color: #e3e4e5;
    border-color: transparent;
  }
}

.icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  animation: animateBorderRadius 3s infinite;
}

.icon-container.animation-0 {
  animation-delay: 0s;
}

.icon-container.animation-1 {
  animation-delay: 1s;
}

.icon-container.animation-2 {
  animation-delay: 2s;
}
